@import "tailwindcss";

@theme {
  /* NOTE:
   * These are overridden by the variables provided by Next in the root layout
   * BUT if I don't include them here, Tailwind doesn't seem to recognize them
   * AND if I try to use tailwind.config.ts, same thing - unrecognized class
   *
   * Not sure what the issue is, but letting these get overridden works well enough for now
   */
  --font-geist-mono: "Geist Mono", monospace;
  --font-lato: "Lato", sans-serif;

  --animate-twist: twist 1.4s ease normal;
  --animate-quicktwist: quicktwist 1s ease normal;

  @keyframes twist {
    20% {
      transform: rotateX(8deg) rotateY(-40deg);
    }
    60% {
      animation-timing-function: ease-in;
      transform: rotateX(8deg) rotateY(374deg);
    }
    78% {
      transform: rotateX(8deg) rotateY(340deg);
    }
    92% {
      animation-timing-function: ease-in;
      transform: rotateX(8deg) rotateY(344deg);
    }
    96% {
      transform: rotateX(8deg) rotateY(340deg);
    }
    98% {
      animation-timing-function: ease-in;
      transform: rotateX(8deg) rotateY(342deg);
    }
    100% {
      transform: rotateX(8deg) rotateY(340deg);
    }
  }


  @keyframes quicktwist {
    60% {
      animation-timing-function: ease-in;
      transform: rotateX(8deg) rotateY(374deg);
    }
    78% {
      animation-timing-function: ease-out;
      transform: rotateX(8deg) rotateY(340deg);
    }
    92% {
      animation-timing-function: ease-in;
      transform: rotateX(8deg) rotateY(344deg);
    }
    96% {
      transform: rotateX(8deg) rotateY(340deg);
    }
    98% {
      animation-timing-function: ease-in;
      transform: rotateX(8deg) rotateY(342deg);
    }
    100% {
      transform: rotateX(8deg) rotateY(340deg);
    }
  }
}
